.divDetailContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h2Detalle{
    margin-bottom: 20px;
    color:white;
    font-size: 3rem;
    font-family: monospace;
    margin-top: 20px;
}