.botonako{
    background-color: rgb(255, 88, 88);
    font-size: 50px;
    width: 80px;
    color: wheat;
    margin: 15px;
    transition: 0.5s;
}

.botonako2{
    background-color: rgb(255, 88, 88);
    font-size: 1rem;
    padding: 3px;
    color: wheat;
    transition: 0.5s;
}

.botonako:hover, .botonako2:hover{
    background-color: wheat;
    color: rgb(0, 0, 0);
}